@model PROG7311_GLMSApp.Models.Contract

@{
    ViewData["Title"] = "Create";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
     @TempData["Error"]
     <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
     @TempData["Success"]
     <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
}

<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate"  class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="ServiceLevel" class="control-label"></label>
                <select asp-for="ServiceLevel" class="form-control" >
                <option class="dropdown-item disabled">--- Select Service Level ---</option>
                <option value="gold">Gold Level</option>
                <option value="silver">Silver Level</option>
                <option value="bronze">Bronze Level</option>
                </select>
                <span asp-validation-for="ServiceLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label">Client</label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label name="document" class="form-label">Supporting Documents</label>
                <input type="file" name="file" class="form-control" accept=".pdf" />
                <small class="form-text text-muted">Upload supporting documents</small>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a asp-action="Index" class="btn btn-secondary me-md-2">Cancel</a>
                <button type="submit" value="Create" class="btn btn-primary">Create</button>
            </div>           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
